<div class="header-new-layout">
 <div class="page-width">
  <div class="header-new-wrap">
   {% if section.settings.logo != blank %}
   <div class="h-n-logo">
    <img src="{{ settings.logo | img_url: 'master' }}" width="{{ settings.logo_width }}" height="100%">
   </div>
   {% endif %}
   {% if section.settings.mid_text != blank %}
    <span class="header-midd-text">{{section.settings.mid_text }}</span>
   {% endif %}
   {% if section.settings.btn_txt != blank %}
    <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_txt }}</a>
   {% endif %}
  </div>
 </div>
</div>
{% schema %}
{
  "name": "Header New Layout",
  "class": "header-new-layout",
  "settings": [
    {
    "type": "text",
    "id": "mid_text",
    "label": "Middle Text",
    "default": "Find the ideal gift for your loved ones."
    },
    {
     "type": "text",
     "id": "btn_txt",
     "label": "Button Text",
     "default": "CHOOSE GIFT"
    },
    {
    "type": "url",
    "id": "btn_link",
    "label": "Link"
    }
  ],
  "presets": [
    {
     "name": "Header New Layout"
    }
  ]
}
{% endschema %}