<div class="header-new-layout">
 <div class="header-inner page-width">
  <div class="header-new-wrap">
   {% if settings.logo != blank %}
   <div class="h-n-logo">
    <img src="{{ settings.logo | img_url: 'master' }}" width="{{ settings.logo_width }}" height="100%">
   </div>
   {% endif %}
   {% if section.settings.mid_text != blank %}
    <span class="header-midd-text small-hide medium-hide">{{section.settings.mid_text }}</span>
   {% endif %}
   {% if section.settings.btn_txt != blank %}
    <a href="{{ section.settings.btn_link }}" class="header_main_btn small-hide medium-hide">{{ section.settings.btn_txt }}</a>
   {% endif %}
   <div class="mob-burger-nav large-up-hide">
   <div id="mobile-burger">
    <span></span>
    </div>
    <div id="menu">
    <ul>
    <li>{{ section.settings.mid_text }}</li>
    <li>
      <a href="{{ section.settings.btn_link }}" class="header_main_btn">
       {{ section.settings.btn_txt }}
      </a>
    </li>
    </ul>
    </div>
    </div>
  </div>
 </div>
</div>
<script>
 var mobburger = document.getElementById('mobile-burger');
 var innercontent = document.getElementById('menu');
 mobburger.addEventListener('click',function(mobburger){
   this.classList.toggle('close');
   innercontent.classList.toggle('overlay');
});
</script>
{% schema %}
{
  "name": "Header New Layout",
  "class": "header-new-layout",
  "settings": [
    {
    "type": "text",
    "id": "mid_text",
    "label": "Middle Text",
    "default": "Find the ideal gift for your loved ones."
    },
    {
     "type": "text",
     "id": "btn_txt",
     "label": "Button Text",
     "default": "CHOOSE GIFT"
    },
    {
    "type": "url",
    "id": "btn_link",
    "label": "Link"
    }
  ],
  "presets": [
    {
     "name": "Header New Layout"
    }
  ]
}
{% endschema %}