<div class="quick-products-main page-width">
    <h1 class="quick-pro-heading">{{section.settings.heading }}</h1>
    <div class="quick-products-wrap">
     {% for pro in section.settings.prolist %}
     {% if pro.featured_image != blank %}
      <div class="quick-pro-item">
       <img src="{{ pro.featured_image | img_url: 'original' }}" width="100%" height="444px" class="quick-pro-img">
       <button class="quick-pro-btn" data-target="popup-{{ forloop.index }}">+</button>
      </div>
      <div id="popup-{{forloop.index }}" class="popup">
      <div class="popup-content-inner">
        <span class="close">&times;</span>
       <div class="quick-pro-img-inner">
       <img src="{{ pro.featured_image | img_url: 'original' }}" width="120px" height="140px" class="quick-pro-img">
        <div class="quick-pro-info">
        <span class="quick-pro-title">{{ pro.title }}</span>
        <span class="quick-pro-price">{{ pro.price | money }}</span>
        {% if pro.description != blank %}
         <span class="quick-pro-description">{{pro.description }}</span>
        {% endif %}
        </div>
      </div>
      <div class="popup-opt-wrap">
       {% for option in pro.options_with_values %}
        {% assign optname = option.name | downcase %}
        {% if optname == 'color' %}
          <div class="color-options">
          <span class="optname">{{ option.name }}</span>
          <div class="optvalues">
          {% for value in option.values %}
            <div class="color-item" style="border-left:5px solid {{ value }}">
             <span class="divider"></span>
             <span class="color-item-val val" data-color="{{ value }}">{{ value }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
        {% endif %}
       
                 {% if optname == 'size' %}
                  <div class="size-options">
          <span class="optname">{{ option.name }}</span>
          <div class="optvalues">
          <select name="size">
            {% if forloop.index == 1 %}
            <option selected disabled hidden>Choose your size</option>
            {% endif %}
          {% for value in option.values %}
           <option>{{ value }}</option>
          {% endfor %}
          </select>
        </div>
        </div>
          {% endif %}
       
       {% endfor %}
      </div>
      <div class="pro-card-val" style="display:none;visibility:hidden;">
       {% for variant in pro.variants %}
        {% if variant.available %}
        <input type="hidden" class="pro-val" data-id="{{ variant.id }}" data-size="{{ variant.option1 }}" data-color="{{ variant.option2 }}">
        {% endif %}
       {% endfor %}
      </div>
      <button class="add-pro-btn" data-id="">Add to Cart</button>
      </div>  

    </div>
     {% endif %}
    {% endfor %}
    </div>
</div>
<script>

document.querySelectorAll('.quick-pro-btn').forEach(btn => {
  btn.addEventListener('click', function() {
    let targetId = this.getAttribute('data-target');
    document.getElementById(targetId).style.display = 'flex';
    firstcoloritem();
  });
});

document.querySelectorAll('.popup .close').forEach(closeBtn => {
  closeBtn.addEventListener('click', function() {
    this.closest('.popup').style.display = 'none';
  });
});

window.addEventListener('click', function(e) {
  document.querySelectorAll('.popup').forEach(popup => {
    if (e.target === popup) {
      popup.style.display = 'none';
    }
  });
});

document.querySelectorAll('.add-pro-btn').forEach(button => {
  button.addEventListener('click', function(){
    alert(this.getAttribute('data-id'));

  });
});
function(firstcoloritem){
document.querySelectorAll('.popup').forEach(function(popup){
  let firstcolor = popup.querySelector('.color-item');
  if(firstcolor){
   firstcolor.classList.add('active');
  }
});
}
document.querySelectorAll('.color-item').forEach(function(item){
  item.addEventListener('click',function(){
    document.querySelectorAll('.color-item').forEach(function(c){
      c.classList.remove("active");
    });
    this.classList.add("active");
  });
});
</script>
{% schema %}
{
"name": "Section Quick Products",
"class": "section-quick-products",
"settings": [
    {
    "type": "text",
    "id": "heading",
    "label": "Heading",
    "default": "Tisso vison in the wild"
    },
    {
    "type": "product_list",
    "id": "prolist",
    "label": "Select Products"
    }
],
"presets":[
    {
    "name": "Section Quick Products"
    }
]
}
{% endschema %}