<div class="quick-products-main page-width">
    <h1 class="quick-pro-heading">{{section.settings.heading }}</h1>
    <div class="quick-products-wrap">
     {% for pro in section.settings.prolist %}
     {% if pro.featured_image != blank %}
      <div class="quick-pro-item">
       <img src="{{ pro.featured_image | img_url: 'original' }}" width="100%" height="444px" class="quick-pro-img">
       <button class="quick-pro-btn" data-target="popup-{{ forloop.index }}">+</button>
      </div>
      <div id="popup-{{forloop.index }}" class="popup">
      <div class="popup-content-inner">
       <img src="{{ pro.featured_image | img_url: 'original' }}" width="120px" height="140px" class="quick-pro-img">
      </div>  
    </div>
     {% endif %}
    {% endfor %}
    </div>
</div>
<script>

document.querySelectorAll('.quick-view-btn').forEach(btn => {
  btn.addEventListener('click', function() {
    let targetId = this.getAttribute('data-target');
    document.getElementById(targetId).style.display = 'block';
  });
});

document.querySelectorAll('.popup .close').forEach(closeBtn => {
  closeBtn.addEventListener('click', function() {
    this.closest('.popup').style.display = 'none';
  });
});

window.addEventListener('click', function(e) {
  document.querySelectorAll('.popup').forEach(popup => {
    if (e.target === popup) {
      popup.style.display = 'none';
    }
  });
});

</script>
{% schema %}
{
"name": "Section Quick Products",
"class": "section-quick-products",
"settings": [
    {
    "type": "text",
    "id": "heading",
    "label": "Heading",
    "default": "Tisso vison in the wild"
    },
    {
    "type": "product_list",
    "id": "prolist",
    "label": "Select Products"
    }
],
"presets":[
    {
    "name": "Section Quick Products"
    }
]
}
{% endschema %}